#about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    // margin-top: 8rem;


    .img {
        position: relative;
        width: 50%;
        height: 70rem;
        background-image: url('/img/_DSC5212.JPG');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        border-bottom-left-radius: 30px;


        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 15%;
            height: 100px;
            width: 100px;
            transform: translateX(-50%) rotate(45deg);
            background-color: $secondary-color;

        }

        &::before {
            content: '';
            position: absolute;
            width: 16rem;
            top: 0;
            left: 0;
            bottom: 0;
            background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(90)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M-4.798 13.573C-3.149 12.533-1.446 11.306 0 10c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='4.5' stroke='hsla(5, 75%, 61%, 1)' fill='none'/><path d='M-4.798 33.573C-3.149 32.533-1.446 31.306 0 30c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='4.5' stroke='hsla(203, 47%, 37%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
            background-size: cover;
        }
    }

    .about-me {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        z-index: 11221;
        border-radius: 3rem 0 3rem 3rem;

        h1 {
            font-size: 6rem;
            font-weight: 700;
            color: #010B40;
            position: relative;
            z-index: 1;

            &::before {
                content: '';
                width: 12rem;
                position: absolute;
                top: 0;
                bottom: 0;
                left: -2rem;
                background-color: $primary-color;
                border-radius: 3rem;
                z-index: -1;
            }
        }

        p {
            font-size: 2rem;
        }

        .about-info {
            display: flex;
            width: 100%;


            ul {
                list-style: none;
                color: #010326;

                li {
                    margin: 20px 0;
                    font-size: 1.8rem;
                    font-weight: 700;
                }
            }

            ul.data {
                color: rgba(1, 3, 38, 0.7);
                font-weight: 400;
                margin-left: 40px;
            }
        }

        .about-cta {
            display: flex;
            justify-content: flex-start;

            a {
                display: block;
                font-size: 1.6rem;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                color: #fff;
                width: 200px;
                height: 70px;
                line-height: 70px;
                background-color: $secondary-color;
                border: none;
                border-radius: 20px;
                transition: .2s;
                margin-right: 4rem;

                &:hover {
                    background-color: $primary-color;
                    box-shadow: 0 0 10px rgb(207, 207, 207);
                }
            }

            .social-cta {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    width: 5rem;
                    background-color: #5580A6;
                    margin-right: 2rem;
                    border-radius: 50%;
                    text-decoration: none;
                    transition: .2s;

                    i {
                        font-size: 2.2rem;
                        color: #F2F2F2;
                    }

                    &#github:hover {
                        background-color: #6e5494;
                        box-shadow: 0 0 10px rgb(207, 207, 207);
                    }

                    &#linkedin:hover {
                        background-color: #0A66C2;
                        box-shadow: 0 0 10px rgb(207, 207, 207);
                    }
                }
            }

        }




    }

    @include size('medium') {
        .img {
            height: 600px;

            &::before {
                width: 12rem;
            }
        }

        .about-me {
            padding: 3rem;

            h1 {
                font-size: 4rem;
                font-weight: 700;
                color: #010B40;
            }

            p {
                font-size: 1.5rem;
            }

            .about-info {
                justify-content: space-between;

                ul>li {
                    font-size: 1.6rem;
                }

                ul.data {
                    margin: 0;
                }
            }
        }
    }

    @include size('small') {
        flex-direction: column;
        height: auto;

        .img {
            margin-top: 1rem;
            width: 100%;
            border-radius: 3rem;
        }


        .about-me {
            width: 100%;
            padding: 3rem;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            background-color: $additional-color;
            border-radius: 3rem;

            h1 {
                align-self: flex-start;
            }

            .about-info {
                justify-content: space-between;

                ul {
                    li {
                        font-size: 1.5rem;
                    }
                }

                ul.data {
                    margin: 0;
                }
            }

            .about-cta {
                button {
                    width: 150px;
                    height: 50px;

                    a {
                        line-height: 50px;
                        font-size: 1.2rem;

                    }
                }
            }
        }


    }
}