footer {
    height: 8vh;
    width: 100%;
    text-align: center;
    background-color: $secondary-color;
    margin-top: 4rem;

    h2 {
        text-align: center;
        line-height: 8vh;
        color: #fff;
    }
}