.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px;
    height: 100px;
    z-index: 4434343434;
    transition: .3s;

    &.scroll-active {
        top: 0;
        background-color: #fff;
        box-shadow: 0 3px 3px #e9eef2;
        height: 80px;
    }

    div {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-cta {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: auto;
            padding: 1.5rem;
            gap: 1.5rem;
            background-color: #fff;
            border-radius: 3rem;
            transform: translateX(-15px);


            a {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 3.5rem;
                width: 3.5rem;
                background-color: #5580A6;
                border-radius: 50%;
                text-decoration: none;
                transition: .2s;

                i {
                    font-size: 1.8rem;
                    color: #F2F2F2;
                }

                &#github:hover {
                    background-color: #6e5494;
                }

                &#linkedin:hover {
                    background-color: #0A66C2;
                }
            }
        }

        .navbar-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            width: 45%;
            // height: 100%;

            li {
                height: inherit;
                // line-height: 100px;

                a {
                    position: relative;
                    height: 100%;
                    display: inline-block;
                    font-size: 1.8rem;
                    color: #010B40;
                    text-decoration: none;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;


                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        background-color: $primary-color;
                        transition: width .2s ease-in;
                    }

                    &:hover::after,
                    &:focus::after,
                    &:active::after {
                        width: 100%;
                    }
                }
            }
        }

        .hamburger {
            display: none;
            width: 80px;
            cursor: pointer;

            span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: #010326;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0px;
                transition: all .3s;
            }
        }
    }





    @include size('medium') {
        div {
            .navbar-items {
                position: absolute;
                top: 0;
                bottom: 0;
                right: -100%;
                width: 60vw;
                height: 100vh;
                padding: 3.5rem;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                background-color: #326789;
                transition: right .2s;


                li {
                    height: 50px;

                    a {
                        font-size: 2.2rem;
                        color: $additional-color;

                        &::after {
                            display: none;
                        }
                    }
                }

                &.active {
                    right: 0;
                }
            }

            .hamburger {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }
}