#projects {
    background-color: #fff;
    padding: 2rem 0 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40rem;
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M-4.798 13.573C-3.149 12.533-1.446 11.306 0 10c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='4.5' stroke='hsla(5, 75%, 61%, 1)' fill='none'/><path d='M-4.798 33.573C-3.149 32.533-1.446 31.306 0 30c2.812-2.758 6.18-4.974 10-5 4.183.336 7.193 2.456 10 5 2.86 2.687 6.216 4.952 10 5 4.185-.315 7.35-2.48 10-5 1.452-1.386 3.107-3.085 4.793-4.176'  stroke-width='4.5' stroke='hsla(203, 47%, 37%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

    }

    h1 {
        margin: 6rem;
        align-self: flex-start;
        display: block;
        z-index: 22;
        position: relative;

        &::after {
            content: '';
            width: 12rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -2rem;
            background-color: $primary-color;
            border-radius: 3rem;
            z-index: -1;
        }


    }


    .projects-items {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        z-index: 111111;

        .item-container {
            flex-basis: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .2s;



            &:hover {
                transform: translateY(-5px);
            }

            .project-item {
                position: relative;
                width: 30rem;
                height: 30rem;
                background-color: #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 3rem;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .project-item-details {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1.5rem;
                    opacity: 0;
                    transition: .2s all;

                    h2 {
                        font-size: 3rem;
                        color: #fff;
                    }

                    .project-item-links {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 5rem;
                            height: 5rem;
                            background-color: $background-color;
                            border-radius: 3rem;
                            text-decoration: none;
                            color: #fff;

                            i {
                                text-align: center;
                                line-height: 5rem;
                                font-size: 2rem;
                            }

                            &:hover {
                                background-color: #fff;
                                color: $background-color;
                            }
                        }
                    }

                    &:hover {
                        opacity: 1;
                        background-color: rgba(50, 103, 137, 0.9);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1290px) {
        .projects-items {

            .item-container {

                .project-item {
                    height: 25rem;
                    width: 25rem;
                }
            }
        }
    }

    @include size ('medium') {}

    @include size('small') {
        h1 {
            font-size: 4rem;
            margin: 3rem;
        }
    }
}