#skills {
    height: auto;
    background-color: $secondary-color;
    padding: 2rem 4rem;
    margin: 4rem 0;
    // box-shadow: 0 3px 5px #ddd;

    .skills-info {
        gap: 1.5rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        color: $additional-color;

        @include size('medium') {
            flex-wrap: wrap;
        }
    }

    .skill-item {
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #010B40;

        h2 {
            font-size: 3rem;
            font-weight: 400;
            margin-right: 1.5rem;
        }

        i {
            font-size: 7rem;
            color: $additional-color;
            transition: .2s;

            &:hover {
                color: $primary-color;
                transform: scale(1.2);
            }
        }

        @include size('medium') {
            width: 20%;

            i {
                font-size: 5rem;
            }
        }
    }


}