* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth
}

body {
    background-color: $additional-color;
    color: #010326;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}