#about {
    display: flex;
    justify-content: center;
    scroll-snap-type: multiply;


    .img {
        position: relative;
        width: 50%;
        height: 800px;
        overflow: hidden;
        background-image: url('/img/_DSC4376.JPG');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 15%;
            height: 100px;
            width: 100px;
            transform: translateX(50%) rotate(45deg);
            background-color: #ffffff;
            z-index: 1;
        }
    }

    .about-me {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        z-index: 111;

        &::after {
            content: '';
            position: absolute;
            left: 30%;
            top: 0;
            right: 0;
            height: 100%;
            background-color: #F2F2F2;
            z-index: -3;
        }

        &::before {
            content: '';
            position: absolute;
            left: 30%;
            top: 45%;
            height: 200px;
            width: 200px;
            transform: translateX(-50%) rotate(45deg);
            background-color: #F2F2F2;
            z-index: -1;
        }

        h1 {
            font-size: 6rem;
            font-weight: 700;
            color: #010B40;
        }

        p {
            font-size: 2rem;
        }

        .about-info {
            display: flex;
            width: 100%;


            ul {
                list-style: none;
                color: #010326;

                li {
                    margin: 20px 0;
                    font-size: 1.8rem;
                    font-weight: 700;
                }
            }

            ul.data {
                color: #94C6F2;
                font-weight: 400;
                margin-left: 40px;
            }
        }

        button {
            width: 200px;
            height: 70px;
            background-color: #010B40;
            border: none;
            border-radius: 20px;
            transition: .3s;

            a {
                display: block;
                width: 100%;
                height: 100%;
                line-height: 70px;
                font-size: 1.6rem;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
            }

            &:hover {
                transform: translateY(-5px);
            }
        }

    }
}