#about {
    display: flex;
    justify-content: center;
    margin-top: 8rem;


    .img {
        position: relative;
        width: 50%;
        height: 800px;
        background-image: url('/img/_DSC4376.JPG');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 15%;
            height: 100px;
            width: 100px;
            transform: translateX(50%) rotate(45deg);
            background-color: #ffffff;

        }

        &::before {
            content: '';
            position: absolute;
            top: -5%;
            right: 5%;
            left: -5%;
            bottom: 5%;
            background: rgba(242, 148, 165, 0.2);

        }
    }

    .about-me {
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        z-index: 111;

        h1 {
            font-size: 6rem;
            font-weight: 700;
            color: #010B40;
        }

        p {
            font-size: 2rem;
        }

        .about-info {
            display: flex;
            width: 100%;


            ul {
                list-style: none;
                color: #010326;

                li {
                    margin: 20px 0;
                    font-size: 1.8rem;
                    font-weight: 700;
                }
            }

            ul.data {
                color: rgba(1, 3, 38, 0.7);
                font-weight: 400;
                margin-left: 40px;
            }
        }

        .about-cta {
            display: flex;
            justify-content: flex-start;

            button {
                width: 200px;
                height: 70px;
                background-color: #010B40;
                border: none;
                border-radius: 20px;
                transition: .3s;
                margin-right: 4rem;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    line-height: 70px;
                    font-size: 1.6rem;
                    font-weight: 700;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                }

                &:hover {
                    background-color: #7fb0db;
                    box-shadow: 0 0 10px rgb(207, 207, 207);
                }
            }

            .social-cta {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5rem;
                    width: 5rem;
                    background-color: #5580A6;
                    margin-right: 2rem;
                    border-radius: 50%;
                    text-decoration: none;
                    transition: .2s;

                    i {
                        font-size: 2rem;
                        color: #F2F2F2;
                    }

                    &:hover {
                        background-color: #7fb0db;
                        box-shadow: 0 0 10px rgb(207, 207, 207);
                    }
                }
            }

        }




    }

    @include respond-to('medium') {
        .img {
            height: 600px;
        }

        .about-me {
            h1 {
                font-size: 4rem;
                font-weight: 700;
                color: #010B40;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    @include respond-to('small') {
        margin-top: 3rem;

        .img {
            display: none;
        }

        .about-me {
            width: 100%;
            padding: 2rem;
            justify-content: center;
            align-items: center;
            gap: 2rem;

            p {
                text-align: center;
                padding: 0 1rem;
            }

            .about-info {
                justify-content: space-around;

                ul {
                    li {
                        font-size: 1.5rem;
                    }
                }

                ul.data {
                    margin: 0;
                }
            }

            .about-cta {
                button {
                    width: 150px;
                    height: 50px;

                    a {
                        line-height: 50px;
                        font-size: 1.2rem;

                    }
                }
            }
        }


    }
}