#skills {
    height: auto;
    background-color: #F2F2F2;
    padding: 2rem 4rem;
    margin: 4rem 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    .skills-info {
        height: 100%;
        gap: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        color: #F2F2F2;
    }

    .skill-item {
        padding: 0 2rem;
        display: flex;
        flex-basis: 15%;
        justify-content: center;
        align-items: center;
        color: #010B40;

        h2 {
            font-size: 3rem;
            font-weight: 400;
            margin-right: 1.5rem;
        }

        i {
            font-size: 4.5rem;
            color: #94C6F2;
        }
    }


}